.activities-container {
  height: 65%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 100%;
  padding: 1rem;

  // Hiding the scrollbar
  -ms-overflow-style: none; // for IE and Edge
  scrollbar-width: none; // for Firefox

  // for Google
  &::-webkit-scrollbar {
    display: none;
  }

  border-radius: 2rem;
}

.activity {
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  font-size: 1.5rem;
  border-radius: 2rem;
  padding: 2rem;
  position: relative;
  display: grid;

  grid-template-columns:
    repeat(2, minmax(min-content, 1fr))
    min-content;

  align-items: start;
  justify-items: start;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  cursor: pointer;

  transition: all 0.4s;

  &--active {
    background-image: none;
    background-color: var(--color-primary);
    color: #fff;
    animation: pulsate 1s infinite;
  }

  &--active .btn-close {
    color: #fff;
  }

  &--deleted {
    display: none;
  }

  &__name {
    font-weight: 600;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

  &__text {
  }

  &__time {
    font-weight: 700;
  }

  &__type {
    .icon {
      margin-right: 0.5rem;
    }
  }

  &__date {
    font-size: 1.5rem;
    grid-column: 2 / -1;
    grid-row: 3/ 4;

    .icon {
      margin-right: 0.5rem;
    }
  }
}
